<h1>Conclusions</h1>
<h1 style="font-family: Sans-Serif">Interesting Findings</h1>
<ul style="font-size: 20px">
 <li>On average, Migos' tracks had the highest danceability which wasn't expected,
 given the other artists in the admittedly limited sample such as Michael Jackson.</li>
 <li>Average acousticness tended to be fairly low for all sampled artists.</li>
 <li>Characteristics of artists within the same or similar genres varied across time.</li>
 <li>Michael Jackson and Charlie Puth may both be considered high-profile solo pop
 artists during their respective generations. However, Jackson's songs tended to be higher
 in energy and valence.</li>
 <li>This was also true for Migos and The Notorious B.I.G.</li>
 <li>This may reflect different generational preferences in musical style.</li>
 <li>Top tracks from sampled artists tended to be more high-energy and 'danceable',
   though the artists were diverse in genre and characteristics. Valence was more evenly
 distributed.</li>
</ul>
<h1 style="font-family: Sans-Serif">Next Steps</h1>
<ul style="font-size: 20px">
  <li>What characterizes more popular genres, on average, vs less popular genres?</li>
 <li>Do any features correlate with each other?</li>
 <li>Do songs with featured artists tend to be more popular than songs with only one artist?</li>
 <li>Include more artists for within-genre comparisons for a more comprehensive analysis.</li>
 <li>Explore changes in characteristics for an artist over time (ex: Taylor Swift, Kanye West).</li>
 <li>Predictive models of genre, based on input feature values or vice versa</li>
 <li>Analyses across time to understand generational changes in sound preferences, paired with
     historical events (ex: recessions, presidential elections).</li></ul>
